.cart-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
   
    
}

.cart-container{
    width: 1000px;
    display: flex;
   
}
.second-cart{
    background-color: rgb(225, 222, 222);
    margin: 20px ;
    width: 300px;
    text-align: center;
    
}
.Cart-secondinfo{
  display: flex;
  align-items: center;
  margin-left: 15px;
   
}
.Cart-secondinfo img{
    width: 50px;
    margin-top: 5px;
    border-radius: 50px;
    margin-right: 10px;
    
   }
   
 .Cart-secondinfo p{
    margin-top: 0px;
}
.heder-information{
    text-align: left;
    margin-left: 10px;
    position:absolute;

}
.my-info p{
    background-color: white;
    padding: 2px;
    border-radius: 10px;
    border: 1px solid blue;
   
}
.my-info small{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid blue;
}
.my-info h6{
    background-color: white;
    padding: 2px;
    border-radius: 10px;
    border: 1px solid blue;
}
.btn-time button{
   background-color: white;
   border-radius: 25%;
   margin-right: 10px;
   border: none;
   padding: 5px;
}

.btn-time button:hover{
    background-color: rgb(80, 63, 188);
    color: white;
}
.ex-time{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    
   
}
.ex-time span{
    margin-left: 12px;
    font-size: 12px;
}

.brck-time{
    background-color: white;
    padding: 10px;
    border-radius: 10px
}
.brck-time span{
    margin-left: 12px;
    font-size: 12px;
}

.btn-activity{
    background-color: rgb(84, 63, 217);
    color: white;
    border: none;
    padding: 15px 50px;
    border-radius: 20px;
}
.btn-activity:hover{
    background-color: rgb(27, 27, 199);
}
